<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee           https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <!-- Different error messages are displayed depending on the stage.
    Choices are Development, Production, SystemTest & UnitTest -->
    <context-param>
        <param-name>jakarta.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <!-- HTML commented code will not be delivered to the browser -->
    <context-param>
        <param-name>jakarta.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>
    <!-- In minutes, how long session objects will remain in server memory -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!-- if there is no page in the URL then this page will be called upon -->
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
